      .qterm:before, .qchar:before { content: "'"; }
.qterm:after, .qchar:after { content: "'"; }
.quote:before { content: '"'; }
.quote:after { content: '"'; }
code { 
        color: #A52A2A; 
        font-family: "Lucida Console", Consolas, "Andale Mono", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
        font-size: 100%;
     }
samp, kbd { 
        font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
        font-size: 100%; 
     }
.uname {
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing:0.03em;
	}
      
   .stability {
     background: maroon; color: yellow;
     padding: 0.5em 1em;
     text-align: center;
   }
   .stability strong {
     display: block;
   }
   .stability input:active {
     padding: 0.3em 0.45em 0.2em 0.55em;
   }
   
   .stability input:hover {
     color: white;
     text-shadow: 0 0 2px black;
   }
   .stability input:active {
     padding: 0.3em 0.45em 0.2em 0.55em;
   }
   .stability :link, .stability :visited,
   .stability :link:hover, .stability :visited:hover {
     background: transparent;
     color: white;
   }
   


div.requirement { 
    counter-increment: requirement;
    background-color:#FFC;
}

div.requirement p:before {
	content: "C" counter(requirement) " \00A0";
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: smaller;
	text-transform: capitalize;
	color: #63F;
}

.ednote { 
    border-left: solid 10px red;
    padding-left: 30px;
    background-color:#0FC; 
    font-style:italic; 
}


SPAN.h\e9llo { 
      text-decoration: underline; 
}

span.tableSub {
	font-size: 12px;
}
    
span.dropExample {
    float: left;
    width: 3em;
    margin-left: -3em;
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    line-height: 80%;
}
    
ul.dropExampleList {
   list-style-type: none;
}
    
li.dropExampleItem {
   padding-left: 4em;
   margin-bottom: 1em;
}
    

td.b1 {
	background-color:#FF9;
}

td.b2 {
	background-color:#6FC;
}

td.b3 {
	background-color: #F99;
}

td.b-clear {
	background-color: white;
}

div.exampleBox {
	padding: 25px;
	border-style: solid;
	border-width: 1px;
	margin-left: 12pt;
	width: 80%;
}

.markup {
	font-family: Lucida Console,monospaced;
}

.shakespeare {
	color: #03F;
  font-weight: bold;
  background-color: #EfEfEf;
}

.userValue {
	font-style: italic;
}

p.example:before{
	content: "EXAMPLE: ";
    color: #b9ab2d;
}

div.example-title {
    padding-right:  1em;
    min-width: 7.5em;
    color: #b9ab2d;
}

div.example-title { color: #2b2; }
div.example-title span {
    text-transform: uppercase;
}
div.example {
    margin-top: 1em;
    margin-bottom: 1em;
}
.example > p:first-child { margin-top: 0 }
.example {
    padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
}
div.example {
    padding: 1em 1.2em 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
}
span.example { padding: .1em .5em .15em; }
    

.example {
    border-color: #52e052;
    background: #e9fbe9;
}


   .stability {
     position: fixed;
     bottom: 0;
     left: 0; right: 0;
     margin: 0 auto 0 auto;
     width: 50%;
     background: maroon; color: yellow;
     -webkit-border-radius: 1em 1em 0 0;
     -moz-border-radius: 1em 1em 0 0;
     border-radius: 1em 1em 0 0;
     -moz-box-shadow: 0 0 1em #500;
     -webkit-box-shadow: 0 0 1em #500;
     box-shadow: 0 0 1em red;
     padding: 0.5em 1em;
     text-align: center;
   }
   .stability strong {
     display: block;
   }
   .stability input {
     -moz-appearance: none; 
	 -webkit-appearance: none; 
	 margin: 0;
     border: 0; 
	 padding: 0.25em 0.5em; 
	 background: transparent; 
	 color: black;
     position: absolute; 
	 top: -0.5em; 
	 right: 0; 
	 font: 1.25em Tahoma,sans-serif; 
	 font-weight: bold;
	 text-align: center;
   }
   .stability input:hover {
     color: white;
     text-shadow: 0 0 2px black;
   }
   .stability input:active {
     padding: 0.3em 0.45em 0.2em 0.55em;
   }
   .stability :link, .stability :visited,
   .stability :link:hover, .stability :visited:hover {
     background: transparent;
     color: white;
   }
